<nav class="nav bg-estadisticas">
    <a class="nav-link mt-3 h5" href="/estadisticas/menorStock">Dashboard</a>
    <a class="nav-link mt-3 h5" href="/estadisticas/menorStock">Stock</a>
    <a class="nav-link mt-3 h5" href="/estadisticas/menorStock">Más vendido</a>
</nav>