<div class="sidebar-container">
    <div class="logo">
        <h3>MiaRegister</h3>
    </div>
    <nav class="menu">
        <ul class="nav flex-column">
            <% if ( user.rol == 'admin'){ %>
            <li class="nav-item p-3">
                <a href="/users" class="d-block"><i class="fas fa-users mr-2 "></i>  Usuarios</a>
            </li>
            <% } %>
            <li class="nav-item p-3">
                <a href="/compras" class="d-block">
                    <i class="fas fa-shopping-basket mr-2 "></i>  Compras
                </a>
            </li>
            <li class="nav-item p-3">
                <a href="#" class="d-block">
                    <i class="fas fa-shopping-cart mr-2 "></i>  Productos
                </a>
            </li>
            <li class="nav-item p-3">
                <a href="#" class="d-block"><i class="fas fa-cash-register mr-2 "></i>  Ventas</a>
            </li>
            <li class="nav-item p-3">
                <a href="#" class="d-block"><i class="fas fa-poll mr-2 "></i>  Estadísticas</a>
            </li>
            <li class="nav-item p-3">
                <a href="/user/close" class="d-block"><i class="fas fa-door-open mr-2 "></i>  Salir</a>
            </li>
        </ul>
    </nav>
</div>