<%- include('./partials/_header.ejs'); -%>
    <title>Compras</title>
</head>
<body class="principal">
    <div class="d-flex">
        <%- include('./partials/_menu.ejs'); -%>
        <div class="w-100">
            <%- include('./partials/_menuEstadisticas.ejs'); -%>
        </div>
    </div>
<%- include('./partials/_footer.ejs'); -%>