<%- include('./partials/_header.ejs'); -%>
    <title>Inicio</title>
</head>
<body class="inicio">
    <div class="container contInit mt-lg-5">
        <div class="card text-center">
            <div class="card-body">
                <h3>Bienvenido a</h3>
                <h1><i class="fas fa-cash-register"></i> MiaRegister</h1>
                <a href="/login" class="btn btn-primary mt-5">Ingresar</a>
            </div>
        </div>
    </div>
<%- include('./partials/_footer.ejs'); -%>