.inicio {
background: rgb(181, 209, 223);
background: radial-gradient(
    circle,
    rgba(181, 209, 223, 1) 0%,
    rgba(160, 209, 233, 1) 51%,
    rgba(86, 142, 153, 1) 100%
);
}
.login {
background: rgb(8, 48, 84);
background: linear-gradient(
    90deg,
    rgba(8, 48, 84, 0.9640231092436975) 0%,
    rgba(6, 22, 31, 1) 48%
);
}
.principal{
    background: rgb(219,219,219);
    background: linear-gradient(176deg, rgba(219,219,219,1) 0%, rgba(223,228,230,0.9640231092436975) 99%);
}
.modal-content {
background-color: #17324a;
opacity: 0.95;
padding: 1rem;
box-shadow: 0 0 3px #b9c6d2;
}
.imagen {
width: 12rem;
height: 12rem;
}
.mainSection {
    margin: 0 auto;
    margin-top: 8%;
    padding: 0;
}
.mainSection.sectionLogin{
    margin-top: 30%;
}
.mainSection.editProducto,
.mainSection.promocion{
    margin-top: 20%;
}
.userImg {
margin-top: -100px;
}
[src="/img/compras.png"],
[src="/img/product.png"]{
    width: 95px;
    height: 95px;
    margin-top:18%;
    margin-bottom: 1rem;
}
.contInit {
width: 28rem;
}
.contInit.mt-lg-5 {
margin-top: 8rem !important;
}
.form-group input, .rolGroup, .message{
height: 42px;
font-size: 18px;
border: 0;
padding-left: 2.5rem;
border-radius: 5px;
}
.message{
    margin: -8% 1rem 0 1rem;
    font-size: 1rem;
}
#mensaje{
    margin-top: 2rem;
    margin-bottom: .5rem;
    padding-top: 8px;
}
.alert-dismissible .close {
    top: -5px;
    color: #155724;
}
.form-group.formRol{
    padding-left: 0;
    width: 100px;
}
.form-group::before {
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 22px;
    font-size: 22px;
    color: black;
    font-weight: 900;
    padding-top: 5px;
}
.form-group.userGroup::before {
    content: "\f007";
}
.form-group.passwordGroup::before {
    content: "\f084";
}
.form-group.nameGroup::before,
.form-group.lastnameGroup::before {
    content: "\f4ff";
}
.form-group.idGroup::before {
    content: "\f2c2";
}
.form-group.rolUserGroup::before,
.form-group.proveedorGroup::before{
    content: "\f2c1";
}
.form-group.codeGroup::before{
    content: "\f11c";
}
.form-group.fechaGroup::before{
    content: "\f073";
}
.form-group.totalGroup::before,
.form-group.subTotalGroup::before,
.form-group.pUnitGroup::before {
    content: "\f155";
}
.form-group.ivaGroup::before {
    content: "\f4c0";
}
.form-group.detailGroup::before {
    content: "\f303";
}
.form-group.cantidadGroup::before {
    content: "\f0cb";
}
.form-group.gananciaGroup::before {
    content: "\f295";
}
.form-group.searchGroup::before {
    content: "\f11c";
}
.button {
width: 60%;
margin: 5px 0 25px 0;
}
.forgot {
padding: 5px 0;
}
.forgot a {
color: blanchedalmond;
}
/*------------------------------*/
.sidebar-container{
    height: 100vh;
    background-color: #17324a;
    color: #c9d1d7;
}
.sidebar-container .logo{
    padding: 1rem 1.25rem;
}
.sidebar-container .menu{
    width: 14rem;
}
.sidebar-container .menu a{
    color: #c9d1d7;
    text-decoration: none;
}
.sidebar-container .menu a:hover{
    color: #a8ddee;
}
.sidebar-container .menu a i{
    font-size: 1.5rem;
}
/*--------------------------------*/
.tableUser{
    width: 100%;
}
.tablePrimary{
    background-color: #17324a;
    border-radius: 5px;
    color: #c9d1d7;
}
/*------------------------------*/
.contSalir{
    background-color: #17324a;
    opacity: 0.95;
    color: cornsilk;
}
.userImg.salir .imagen{
    width: 6rem;
    height: 6rem;
}
.userImg.salir {
    margin-top: -70px;
}
.userImg.edit {
    margin-top: -100px;
}
#cedError .alert.alert-danger.alert-dismissible.fade.show{
    padding: 0.5px;
}
/*---------------MODAL-----------------*/
.modal-content.myModal{
    background-color: white;
}
